<%= form_with model: @group, url: groups_path, method: :post, local: true, scope: :group do |f| %>
  <div>
  <%= f.label :name %>

  <%= f.text_field :name, size: "50x12",
placeholder: "Write the name here..."
  %>
</div>

<div>
  <%= f.label :icon %>

  <%= f.text_field :icon, size: "50x12",
placeholder: "Write your post here..."
  %>
</div>
<%= f.submit "Submit" %>
<% end %>