<% redirect_if_authorized(current_user, @group.user.id) %>
<div class="trans-cont">
  <%= render 'navbar', page: "TRANSACTIONS"%> 

<div class="totals">
  <h2 class="text-center"><%= @group.name %> Total: </h2>
  <h2> <%= @group.total_expenses %> </h2>
</div>

<div>
  <% @reports.each do |report| %>
    <%= render 'report_card', report: report%>
  <% end %>
</div>

<%= link_to 'New Transaction', new_report_path(group_id: @group),  method: :get, class: 'new-cat-btn' %>
</div>